<footer class="footer">
  <div class="footer__tablet wrapper">
    <span class="footer__tablet__copy">
      <small><p>CheckPeople ©2021</p></small>
    </span>
    <nav class="footer__box__menu">
      <ul>
        <li><a href="@@teamUrl" title="Ir a Equipo">DESCRIPCIÓN</a></li>
        <li>
          <a href="@@aboutusUrl" title="Ir a Quienes Somos">SOFTWARE</a>
        </li>
        <li><a href="@@contactUrl" title="Ir a Contacto">CONTACTO</a></li>
      </ul>
    </nav>
    <div class="footer__box__logo">
      <div>
        <a href="https://torcal.es/"
          ><img src="./assets/images/TORCAL.png" alt="Adalab"
        /></a>
      </div>
    </div>
  </div>
</footer>
