  <section class="team">
  <div class="wrapper">
    <div class="team__div">
      <h1 class="team__claim">
        <em
          ><span>CheckPeople,</span>
          <span>Tu dispositivo de reconocimiento facial</span></em
        >
      </h1>
    </div>
    <h2 id="team">Descripción</h2>
    <p>
      CheckPeople es un dispositivo que permite realizar el control
      horario de los empleados a través de reconocimiento facial.
      El trabajador solo debe situarse frente a la cámara y de forma
      casi instantánea el sistema reconoce el rostro y realiza la
      grabación de la hora y persona que ha accedido al recinto.
      El sistema recoge tantas entradas y salidas como sean
      necesarias y las almacena en el software de gestión.
      CheckPeople tiene un software de control horario, pero puede
      integrarse con el software de control horario ya existente en
      las instalaciones.
      Para aquellos negocios o entidades públicas que necesitan
      aportar un motivo a las salidas/entradas de los trabajadores,
      un sistema de comandos por voz permite a los empleados
      asociar un código a cada salida/entrada para que quede
      registrado en el sistema.
    </p>
  </div>
</div>
  <div class="team__virtues">
    <div class="team__virtues__rectangle"></div>
    <h2 id="team">Dispositivo único</h2>
    <class class="wrapper">
    <article class="team__virtues__strengths caja">
      
      <h3>Software Propio</h3>
      <p>
    CheckPeople permite su funcionamiento como único
dispositivo con su propio software.
Puede funcionar con o sin conexión a Internet,
guardando la información en el software en el cloud o en
el propio dispositivo, respectivamente.
Las fotografías y datos de los empleados pueden
gestionarse desde el cloud o desde el propio dispositivo.

      </p>
    </article>

    <article class="team__virtues__weakness caja">
      <h3>Software ya existente</h3>
      <p>
        
        CheckPeople permite su funcionamiento como único
        dispositivo con un software preexistente.
        Se puede integrar con el software ya instalado, aunque el
        fabricante debe proporcionar las APIs de conexión.
        De esta forma no es preciso cambiar la forma de trabajar
        que ya tiene el cliente.
        Las fotografías y datos de los empleados pueden
        gestionarse desde el cloud o desde el propio dispositivo.
        
      </p>
    </article> 
  </div>
  <div class="wrapperTeam">
    <div class="wrapper">
    <h2 id="team">Dispositivo múltiple</h2>
    <h3>Software propio y ya existente</h3>
    <p>
      CheckPeople permite su funcionamiento como
      dispositivo múltiple.
      Esto significa que puede haber varias unidades de
      CheckPeople en el mismo edificio o en edificios
      diferentes.
      Todos los dispositivos se sincronizan con un software
      central, proporcionado por Digital Fruit o el ya utilizado
      por el cliente.
      En configuración múltiple permite su intercambio con
      otros dispositivos como lectores de huellas o tarjetas.
      Resumiendo en un caso práctico, un trabajador podría
      fichar de entrada en un edificio mediante reconocimiento
      facial a través de CheckPeople y fichar de salida en otro
      edificio con un lector de huellas preexistente, si así lo
      requiere la empresa.
    </p>
  </div>
  </div>
  </div>
  <div class="wrapper">
    <div class="team__div">
    </div>
    <h2 id="team">Empleados y Clientes</h2>
    <p>
      CheckPeople es un dispositivo que permite realizar el control
      horario de los empleados a través de reconocimiento facial.
      El trabajador solo debe situarse frente a la cámara y de forma
      casi instantánea el sistema reconoce el rostro y realiza la
      grabación de la hora y persona que ha accedido al recinto.
      El sistema recoge tantas entradas y salidas como sean
      necesarias y las almacena en el software de gestión.
      CheckPeople tiene un software de control horario, pero puede
      integrarse con el software de control horario ya existente en
      las instalaciones.
      Para aquellos negocios o entidades públicas que necesitan
      aportar un motivo a las salidas/entradas de los trabajadores,
      un sistema de comandos por voz permite a los empleados
      asociar un código a cada salida/entrada para que quede
      registrado en el sistema.
    </p>
  </div>
  <div class="wrapper">
    <div class="team__div">
    </div>
    <h2 id="team">Nuestra tecnología</h2>
    <p>Nuestro dispositivo está basado en Linux e integra las
      siguientes tecnologías:
      - Reconocimiento facial basado en redes neuronales
      - Reconocimiento de comandos de voz
      - Conectividad por Ethernet 10/100
      - Conectividad Wi-Fi
      - Conectividad Bluetooth
      La arquitectura hardware es libre y el software ha sido
      íntegramente desarrollado en Digital Fruit, por lo que no
      existen dependencias de terceros y nuestra tecnología puede
      ser exportada a otros sistemas operativos y dispositivos.
      Además se ha implementado un sistema de seguridad que
      impide el falso reconocimiento a través de fotografías, videos
      o móviles simulando personas.
      La opción de comandos por voz incluye un software de
      cancelación de ruidos.
    </p>
  </div>
</section>
