.hero {
  height: 25rem;
  background-image: url("../images/banne_hero.jpg");
  background-size: cover;
  background-position: center;
  background-color: $background-color;
  background-repeat: no-repeat;
  z-index: 3;
  position: relative;
  width: 100%;
}

@include desktop {
  .hero {
    height: 34.38rem;
  }
}
